html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: monospace, sans-serif;
  background-color: #f2f4fc;
}

.title {
  font-size: 34px;
  color: #37393F;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea {
  display: block;
  width: 800px;
  height: 250px;
  padding: 15px;
  font-size: 18px;
  color: #37393F;
}

.footer {
  padding-top: 30px;
  text-align: center;
  line-height: 36px;
}