html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: monospace, sans-serif;
  background-color: #f2f4fc;
}

.title {
  font-size: 28px;
  line-height: 50px;
  color: #37393F;
  text-align: center;
  font-weight: normal;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea {
  margin-bottom: 40px;
  width: 600px;
  height: 150px;
  padding: 15px;
  font-size: 18px;
  color: #37393F;
}

.keyboard {
  width: 800px;
  padding: 10px;
  background: #A6ABBD;
  border: 2px solid #37393F;
  border-radius: 30px;
}

.keyboard__row {
  display: flex;
  justify-content: space-around;
  height: 40px;
  margin-bottom: 10px;
}

.keyboard__key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #37393F;
  font-size: 14px;
  color: #fff;
}

.footer {
  padding-top: 30px;
  text-align: center;
  line-height: 30px;
}

.Enter,
.Tab,
.CapsLock,
.ShiftLeft,
.ShiftRight,
.Backspace {
  width: 90px;
}

.Space {
  width: 280px;
}

.MetaRight,
.MetaLeft {
  width: 60px;
}

.hidden {
  display: none;
}